@page
@model IGI_Web_953501_Smolyar.Areas.Admin.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p class="mt-2">
    <a asp-page="Create" class="btn btn-outline-info">
        <span class="fa fa-plus-circle"> Добавить</span>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Drink[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Drink[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Drink[0].Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Drink[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Drink[0].Group)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Drink) {
        <tr>
            <td>
                <img src="~/Images/@item.Image" alt="NoImage" width="50" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id"
                   class="btn btn-outline-info">
                    <span class="fas fa-edit"></span>
                </a>
                <a asp-page="./Delete" asp-route-id="@item.Id"
                   class="btn btn-outline-danger">
                    <span class="fas fa-trash-alt"></span>
                </a>
            </td>
        </tr>
         }
    </tbody>
</table>
